html, body
{
 /* Centro elementos para aprovechar la ventana */ 
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: radial-gradient(skyblue, lightgray);
  font-family: Arial;
  color: white;
}

header, footer
{
 /* Correción de tamaño para no usar de mas y los
    posiciono en el centro, cuarto izquierdo en posición
    del ancho de la pantalla */
   width: 50%;
   margin-left: 25%;
}

header
{
  /* Estilo de cabeceras atractivo pero que no llame la atencion */
   background-color: lightgreen;
   color: gray;
   padding-bottom: 0.25em;
}

footer
{
  /* Estilo de pie de pagina llamativo y distinto al resto pero
     de forma coeherente con el estilo simple y moderno de la
     pagina */
  background: radial-gradient(indianred, lightgray);
  font-family: Helvetica;
  padding: 0.15em;
}

nav
{
  /* Estilo para los menus de navegacion */
   text-decoration: none;
}

article
{
  /* Estilo independiente y simple para los articulos
}
  
section
{
  /* Estilo de las secciones sanos para la vista */
}

.eventos
{
  /* Clase para la vista general de eventos */
   background-color: #1253bf;
   color: #777777;
}

.evento
{
  /* Clase para la vista individual de evento */
   background-color: #53bf12;
   color: #50bfbf;
}
